body {
  margin-top: 20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}

.shadow-none {
  box-shadow: none !important;
}

.align-elements {
  margin-right: 0.5rem
}

.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

