<div class="card">
  <div class="card-body">
    <div class="tab-pane active" id="profile">
      <h3 class="text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="feather feather-shield mr-2">
          <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
        </svg>
        <span class="text-success">Congratulations</span> Account created
      </h3>
      <hr>
      <div>
        <h3 class="text-dark">Let's confirm your email</h3>
      </div>
      <button type="button" class="form-group btn btn-primary align-elements" (click)="generateOtp()"
      [disabled]="!generateOtpBtn">Generate Otp
      </button>
      <div>
        <small id="fullNameHelp" class="form-text text-muted">Type in the six digit code we sent to
          {{userEmail}} below</small>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" aria-describedby="opt" [(ngModel)]="otpValue"
               placeholder="Enter otp">
      </div>
      <div class="form-group" style="padding-top:1rem">
        <button [disabled]="loading" class="btn btn-primary btn-block" (click)="verifyOtp()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Confirm Otp
        </button>
        <div class="d-flex justify-content-center" style="padding-top:1rem">
          <label class="text-dark">Didn't receive the code?&nbsp;</label>
          <a class="text-primary" (click)="generateOtp()" *ngIf="generateOtpBtn">Send again</a>
          <a class="disabled" *ngIf="!generateOtpBtn">Send again</a>
        </div>
      </div>
    </div>
  </div>
</div>
