<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark nav-align" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="navbar-brand" href="#">
      <img src="assets/images/tradeBull_logo.jpeg" alt="Logo" style="height: 3rem;width: 6rem">
    </a>
    <a class="nav-item nav-link dashboard-align" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a class="nav-item nav-link dashboard-align" routerLink="/about" routerLinkActive="active">About</a>
  </div>
  <div>
    <app-user-config></app-user-config>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
