<div class="view">
  <div style="height: 100vh;background: -webkit-linear-gradient(bottom,#0250c5,#d43f8d)">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
<!--          <img src="assets/images/tradeBull_logo.jpeg" alt="Logo" style="height: 4rem;width: 8rem">-->
          <app-alert></app-alert>
          <div class="card">
            <div class="card-body">
              <h2>Login</h2>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="email" class="text-dark">Email or phone number</label>
                  <input type="text" id="email" formControlName="email" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email/Phone no. is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="passwd" class="text-dark">Password</label>
                  <input type="password" id="passwd" formControlName="passwd" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.passwd.errors }"/>
                  <div *ngIf="submitted && f.passwd.errors" class="invalid-feedback">
                    <div *ngIf="f.passwd.errors.required">Password is required</div>
                  </div>
                </div>
                <div class="form-group" style="padding-top:1rem">
                  <button [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                  </button>
                  <label class="d-flex justify-content-center text-dark" style="padding-top:1rem">or</label>
                  <div class="d-flex justify-content-center">
                    <label class="text-dark">New on TradeBull?&nbsp;</label>
                    <a routerLink="/register" class="text-primary">Register</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
